li.list-group-item(id=val._id)
    form.form-inline(align="center" id="updateForm" method="post" action="/dvd/"+ val._id)
        label(for='update-name') Nom :
        input.form-control(type="text" name="name" id="update-name" placeholder="Nom" maxlength=50)
        br
        label(for='update-genre') Genre :
        - var genres = ['Fantastique','Drame','Action','Comédie']
        select#update-genre(name="genre")
            option(value='') Selectionner un genre
            each genre, i in genres
                option(value=genre) #{genre}
        br
        label(for='update-casting') Acteurs :
        input.form-control(type="text" name="casting" id="update-casting" placeholder="Nom des acteurs" maxlength=32)
        br
        label(for='update-price') Prix :
        input.form-control(type="text" name="price" id="update-price" placeholder="prix" maxlength=32)
        br
        label(for='update-year') Year :
        select#update-year(name="year")
            -for(var i=2020;i>1950;i--){
            option(value="#{i}") #{i}
            -}
        button.btn.btn-success(type="submit" id="update") Mettre à jour