extends layout

block content

  nav.navbar.navbar-default( role="navigation" )
    .navbar-header
      a.navbar-brand(href="#") #{title}

  form.form-inline(align="center" id="createForm" method="post" action="/dvd")
    div.form-group
      label(for='name') Titre :
      input.form-control(type="text" name="name" id="name" placeholder="Nom" maxlength=50)
      br
      label(for='genre') Genre :
      - var genres = ['Fantastique','Drame','Action','Comédie']
      select#genre(name="genre")
        option(value='') Selectionner un genre
        each genre, i in genres
          option(value=genre) #{genre}
      br
      label(for='casting') Casting :
      input.form-control(type="text" name="casting" id="casting" placeholder="Casting" maxlength=32)
      br
      label(for='price') Prix :
      input.form-control(type="text" name="price" id="price" placeholder="prix" maxlength=32)
      br
      label(for='year') Année :
      select#year(name="year")
        -for(var i=2020;i>1950;i--){
        option(value="#{i}") #{i}
        -}
      button.btn.btn-success(type="submit" id="create") Ajouter

  br
  // Tableau
  div(align="center")
    ul.list-group(id="list" style="width:400px")
      li.list-group-item.active Dvds
      each val in dvds
        li.list-group-item(id="list-" + val._id)
          div(align="right" style="float:right")
            button.btn.btn-xs(id="btn-" + val._id onClick="preUpdate(this.id)") Update
            button.btn.btn-danger.btn-xs(id="btn-" + val._id onClick="deleteItem(this.id)") Delete
          div(align="left")
            h4.title= val.name
          div.genre(align="left")= val.genre
          div.year(align="left")= val.year
          div.casting(align="left")= JSON.parse(val.casting)

        li.list-group-item.hidden(id= "update-" + val._id)
          form.form-inline(class="updateForm" align="center" attr-id=val._id id="updateForm-" +val._id method="post" action="/dvd/" + val._id)
            label(for='update-name') Nom :
            input.form-control(type="text" name="name" id="update-name" value=val.name maxlength=50)
            br
            label(for='update-genre') Genre :
            - var genres = ['Fantastique','Drame','Action','Comédie']
            select#update-genre(name="genre")
              each genre, i in genres
                option(value=genre selected=val.genre == genre) #{genre}
            br
            label(for='update-casting') Acteurs :
            input.form-control(type="text" name="casting" id="update-casting" value=JSON.parse(val.casting) maxlength=32)
            br
            label(for='update-price') Prix :
            input.form-control(type="text" name="price" id="update-price" value=val.price maxlength=32)
            br
            label(for='update-year-' + val._id) Year :
            select(id= 'update-year-' + val._id)(name="update-year" + val._id)
              -for(var i=2020;i>1950;i--){
              option(value="#{i}" selected=val.year == i) #{i}
              -}
            button.btn.btn-success(type="submit" id="update-" + val._id) Mettre à jour

  div.modal.fade.modal-error(tabindex="-1" role="dialog" aria-labelledby="errorModal" class="errorModal")
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title(class="errorModal") Error
        div.modal-body(id="errorField")
        div.modal-footer
          button.btn.btn-danger.btn-sm(type="button" data-dismiss="modal") Close
